.navbar {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    background-color:#1976d2;
}

.logo {
    height: 120px;
    width: auto;
    margin-right: 12px;
}

.app-title {
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.navbar-button {
  background-color: white;
  color: #1976d2;
  height: 40px;
  width: 70px;
  font-weight: 600;
  font-size: 0.75rem;
  padding: 0px 0px;
  border: 1px solid #1976d2;
  border-radius: 8px;
  cursor: pointer;
  margin-left: auto; /* pushes button to the right */
}

.navbar-buttons {
  margin-left: 1140px; /* pushes this div to the right */
  display: flex;
  gap: 10px; /* space between buttons */
}

.navbar-button:hover {
  background-color: #f0f7ff; /* Light blue on hover */
}
