.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color:#1976d2;
}

.logo {
    height: 90px;
    width: auto;
    margin-right: 12px;
}

.app-title {
    font-size: 22px;
    margin-left: 50px;
    font-weight: bold;
    color: white;
}
.navbar-button {
  background-color: white;
  color: #1976d2;
  font-size: 0.75rem; /* Small text */
  padding: 4px 8px;    /* Small padding */
  border: 1px solid #1976d2;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.navbar-button:hover {
  background-color: #f0f7ff; /* Light blue on hover */
}
